<footer id="footer" class="main-content-wrap">
    <span class="copyrights">
        Copyrights &copy; <%= date(new Date(), 'YYYY') + ' ' + config.author || config.title %>. All Rights Reserved.
    </span>
    <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
            <span id="busuanzi_container_site_pv">Viewed at <span id="busuanzi_value_site_pv"></span> times</span>
</footer>
